<ion-header>
  <ion-toolbar>
    <ion-title>Lets Go</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to LETS-GO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
    </ion-card-content>
  </ion-card>

  <form
    [formGroup]="userLoginForm"
    (ngSubmit)="userLogin(userLoginForm.value)"
    class="login-form"
  >
    <ion-item class="login-list">
      <ion-label position="floating" class="input-text">Email</ion-label>
      <ion-input formControlName="email" type="email" class="input-text">
      </ion-input>
    </ion-item>
    <ion-item class="login-list">
      <ion-label position="floating" class="input-text">Password</ion-label>
      <ion-input formControlName="password" type="password" class="input-text">
      </ion-input>
    </ion-item>
    <br />
    <br />
    <ion-button type="submit"> Log in </ion-button>
    <ion-button type="submit">sign up </ion-button>
  </form>

  <ion-button href="/register"> sign up </ion-button>
</ion-content>
