<ion-header>
  <ion-toolbar>
    <ion-title>Payment Via Bank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-title>Pay to Our Bank Account</ion-title>
    <p>
      Bank : Commercial Bank
    </p>
    <p>
      Branch : Malabe
    </p>
    <p>
      Account Holder's Name : Letsgo Transport Provider
    </p>
    <p>
      Account Number : 8897872364
    </p>
  </ion-grid>

  <ion-button href="/home" color="danger"> Cancel </ion-button>
  <ion-button href="/home" color="success"> Done </ion-button>
</ion-content>
